.containerCarrinho {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 90%;
    background-color: #fff;
    margin-bottom: 20px;
}

.product-info,
.order-info,
.store-info {
    padding: 10px;
    border-right: 1px solid #ccc;
}

.product-info {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 250px;
}

.product-info img {
    max-width: 100px;
    margin-right: 10px;
}

.order-info {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    /* border-top: solid black 1px;
    border-bottom: solid black 1px; */
}

.tituloDescricao {
    margin-top: 10px;
    font-size: 20px;
}

.descricao {
    font-size: 15px;
}

.store-info {
    flex: 1;
    min-width: 200px;
}

.actionsCarrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.actions01 {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-evenly;
    margin-left: 12px;
    font-size: 20px;
    width: 100%;
}

.numero {
    margin-top: 18px;
}

.actions02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin-left: 11px;
    width: 100%;
}

.botaoQuantidade {
    border: solid 1px black;
}

.botaoQuantidade label {
    padding: 1px 12px 1px 12px;
}



.textoCinza {
    color: #a6a6a6;
}

.button-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
}

.button-with-icon img {
    position: absolute;
    left: 10px;
    width: 20px;
}

.botaoVerProduto {
    background-color: #fbbc05;
}

.botaoVerProduto label, .botaoExcluir label, .botaoQuantidade label:hover {
    cursor: pointer;

}

.botaoVerProduto a {
    color: black;
}

.botaoExcluir {
    background-color: #003366;
    color: white;
}


.textoBotao {
    margin-left: 20px;
    text-decoration: none;
}

.textoBotaoBranco {
    color: white;
    margin-left: 20px;

}

.valorTotal {
    font-weight: bold;
    font-size: 25px;
}

.numero {
    margin-left: 5px;
}



@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .product-info,
    .order-info,
    .store-info {
        border-right: none;
        border-bottom: 1px solid #ccc;
    }

    .actions {
        flex-direction: row;
        justify-content: space-around;
    }
}

/* CONTAINER DETALHES */
.containerDetalhes {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 90%;
    background-color: #fff;
    margin-top: 20px;
}

.info {
    flex: 1;
    padding-right: 20px;
    border-right: 1px solid #ccc;

}

.info p {
    margin-bottom: 10px;
    color: #333;
}

.actionsDetalhes {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex: 1;
    margin-left: 20px;

}

.btnCarrinho {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 70%;

}

.finalizar {
    background-color: #003366;
}

.orcamento {
    background-color: #003366;
}

.cancelar {
    background-color: #fbbc05;
    color: #333;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .info {
        padding-right: 0;
        margin-bottom: 20px;
    }
}