.containerCarrinho {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 90%;
}

.product-info, .order-info, .store-info {
    padding: 10px;
    border-right: 1px solid #ccc;
}

.product-info {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 250px;
}

.product-info img {
    max-width: 100px;
    margin-right: 10px;
}

.order-info {
    flex: 1;
    min-width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.store-info {
    flex: 1;
    min-width: 200px;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.textoCinza{
    color: #a6a6a6;
}
/* testando */
.button-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 20px;
    background-color: #ffa60093;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: 200px;
    width: 100%;
    margin-left: 10px;
}

.button-with-icon img {
    position: absolute;
    left: 10px;
    width: 20px;
}


.textoBotao{
    margin-left: 20px;
}



@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .product-info, .order-info, .store-info {
        border-right: none;
        border-bottom: 1px solid #ccc;
    }

    .actions {
        flex-direction: row;
        justify-content: space-around;
    }
}