.body {
    background: #f4f4f4;
    font-family: Cambria;
    color: black;
}

.alinhamentoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    padding: 20px;
    margin-top: 5px;
    margin-left: 76px;
    font-weight: 500;
}


