.boxHistoria {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-image: url('background-pattern.png');
    /* Imagem de fundo personalizada */
    background-size: cover;
    margin: 20px;
    background: rgb(11, 31, 77);
    width: 88%;
}

.boxHistoria__textArea {
    color: white;
    max-width: 400px;
}

.boxHistoria__textArea h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

.boxHistoria__textArea p {
    font-size: 20px;
    line-height: 1.5;
}

.boxHistoria__imageArea {
    display: flex;
    gap: 20px;
}

.boxHistoria__imageBox {
    width: 400px;
    height: 180px;
    background-color: white;
    object-fit: cover;
}