/* CARROSSEL DE BANNERS */
.carrosselHome {
    padding: 45px;
    width: 1500px;
    height: 600px;
    margin: 5px 32px 5px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrosselHome__Imagem {
    width: 1500px;
    height: 480px;
}

.carrosselHome__setaEsquerda {
    display: inline-block;
    margin-right: 120px;
}

.carrosselHome__setaDireita {
    display: inline-block;
    margin-left: 120px;
}

/* CARROSSEL DE MARCAS */
.carrosselMarcas__carrossel {
    margin: 5px 32px 5px 32px;
    width: 1200px;
}

.carrosselMarcas {
    flex-wrap: wrap;
}