body {
    background: #f4f4f4;
    font-family: Cambria;
}

.alinhamentoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER */
#faixa {
    background: rgb(252, 174, 24);
    background: linear-gradient(90deg, rgba(252, 174, 24, 1) 0%, rgba(252, 206, 66, 1) 100%);
    width: 100%;
    height: 20px;
}

nav {
    background-color: rgb(11, 31, 77);
    width: auto;
}

#navPrincipal,
#itens {
    flex-direction: row;
    align-items: center;
}


#barraPesquisa,
#botaoBarraPesquisa {
    background-color: white;
    border-radius: 0;
    border-color: white;
    font-size: 20px;
}

#navPrincipal .links {
    border-left: 2px solid white;
    border-right: 2px solid white;
}

#navPrincipal #itens,
#navSecundario #itens {
    width: 95%;
}

#navSecundario {
    padding: 1px;
    border-top: 2px solid white;
}

.dropdown {
    border-left: 2px solid white;
    border-right: 2px solid white;

}

.links {
    text-decoration: none;
    font-size: 20px;
}

/* HOME */
/* box benefícios */
#boxBeneficios{
    margin: 5px 32px 5px 32px;
}

#boxBeneficios .item {
    background: rgb(252, 174, 24, 0.3);
    background: linear-gradient(90deg, rgba(252, 174, 24, 0.3) 0%, rgba(252, 206, 66, 0.3) 100%);
    align-items: center;
}

#boxBeneficios .item .conteudo {
    font-size: 18px;
}

#boxBeneficios .item .conteudo .icone {
    margin-left: 30px;
}


/* cards promoção */
.titulo {
    margin-left: 43px;
    padding: 20px;
}

.card {
    height: 400px;
    /* Definindo altura fixa para o card */
    width: 100%;
    /* Card ocupa 100% da largura da coluna */
    display: flex;
}

.card-img-top {
    object-fit: cover;
    height: 50%;
    /* Imagem ocupa metade da altura do card */
}

.card-body {
    overflow: hidden;
    /* Impede que o texto ultrapasse o limite do card */
}

.nome{
    font-size: 25px;
    margin-bottom: 10px;
}

.precoOriginal{
    font-size: 15px;
    color: #a6a6a6;
    text-decoration: line-through;
}

.precoPromocao{
    font-size: 25px;

}

.parcelas{
    font-size: 15px;
    color: #a6a6a6;
}

/* carrossel marcas */
.caixaCarrossel{
    margin: 5px 32px 5px 32px;
    width: 1200px;
}

.sessao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* box historia */
.historia{
    background: rgb(11, 31, 77);
    margin-top: 50px;
}

.historia .historiaTexto{
    color: white;
}

.historiaTexto h5{
    font-size: 30px;
}

.historiaTexto p{
    font-size: 20px;
}

.historiaImagem{
    display: flex;
    flex-wrap: wrap;
}

.imagens{

}