/* HOME */
/* componente carrossel */
.carrosselHome {
    padding: 45px;
    width: 1500px;
    height: 600px;
}

.carrosselImagem {
    width: 1500px;
    height: 480px;
}

.esquerda {
    display: inline-block;
    margin-right: 120px;
}

.direita {
    display: inline-block;
    margin-left: 120px;
}

/* box benefícios */
#boxBeneficios {
    margin: 5px 32px 5px 32px;
}

#boxBeneficios .item {
    background: rgb(252, 174, 24, 0.3);
    background: linear-gradient(90deg, rgba(252, 174, 24, 0.3) 0%, rgba(252, 206, 66, 0.3) 100%);
    align-items: center;
}

#boxBeneficios .item .conteudo {
    font-size: 18px;
}

#boxBeneficios .item .conteudo .icone {
    margin-left: 30px;
}


/* cards promoção */
.titulo {
    margin-left: 43px;
    padding: 20px;
}

.card {
    height: 400px;
    /* Definindo altura fixa para o card */
    width: 100%;
    /* Card ocupa 100% da largura da coluna */
    display: flex;
}

.card-img-top {
    object-fit: cover;
    height: 50%;
    /* Imagem ocupa metade da altura do card */
}

.card-body {
    overflow: hidden;
    /* Impede que o texto ultrapasse o limite do card */
}

.nome {
    font-size: 25px;
    margin-bottom: 10px;
}

.precoOriginal {
    font-size: 15px;
    color: #a6a6a6;
    text-decoration: line-through;
}

.precoPromocao {
    font-size: 25px;

}

.parcelas {
    font-size: 15px;
    color: #a6a6a6;
}

/* carrossel marcas */
.caixaCarrossel {
    margin: 5px 32px 5px 32px;
    width: 1200px;
}

.sessao {
    flex-wrap: wrap;
}

/* box historia */
.historia {
    margin-top: 50px;
    display: flex;
    background: rgb(11, 31, 77);
}

.historia .historiaTexto {
    color: white;
    width: 520px;
}

.historiaTexto h5 {
    font-size: 35px;
}

.historiaTexto p {
    font-size: 25px;
}

.historiaImagem {
    display: flex;
}

.imagens {
    width: 2280px;
    height: 200px;
    display: flex;
    gap: 5px;
}

.imagem {
    width: 100%;
    flex: 1;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* TELA DE LOGIN */
#login h5{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

#login .texto{
    font-weight: bold;
    margin: 10px;

}

.botao{
    background: black;
    color: white;
    width: 100%;
    padding: 10px;
}

#google{
    border: solid 2px gray;
    padding: 8px;
    width: 400px;
}

#login #titulo{
    margin-bottom: 10px;
}

#login #conteudo{
    flex-wrap: wrap;
}

.linkAmarelo{
    font-size: 20px;
}