body {
    background: rgb(11, 31, 77);
    font-family: Cambria;
    color: white;
}

a {
    text-decoration: none;
    color: white
}

.botaoCadastrar{
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    background: linear-gradient(90deg, rgba(252, 174, 24, 1) 0%, rgb(255, 193, 8) 100%);
    padding: 5px;
}

.botaoVoltar{
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    background:#B22222;
    padding: 5px;
}

.headAdm{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lalala{
    width: 60%;
}